body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.7s all ease-in-out;
}

/*Common Styles, all h1, h2 and p tag will get this styles.*/
h1 {
    font-size: 65px;
}

h2 {
    font-size: 40px;
    color: #121212;
}

p {
    font-size: 18px;
}

/*Header Section style*/
.header-banner {
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/banner-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.603);
}

/*Only Header description will get this style, because header description area is widther than other description area*/
.header-description {
    width: 825px;
    text-align: center;
    color: #fff;
}

/*All button on this website will get this style*/
.action-btn {
    background-image: linear-gradient(to right, #625bd4, #3d388d);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

.action-btn:hover {
    box-shadow: 3px 3px 20px #7c7c7c;
}

/*All the Descriptin Area except about us description area will get this common style*/
.description {
    width: 680px;
    margin: 0 auto;
    text-align: center;
}

/*All the Section expect banner will get this common margin*/
.donation-area,
.donation-sector,
.about-us,
.newsletter,
.footer-area {
    margin-top: 80px;
}

/*Donation amounts area styles*/
.donation-amounts {
    display: flex;
    justify-content: center;
    margin: 0% 15%;
}

.amount-single {
    height: 125px;
    width: 135px;
    margin: 20px;
    text-align: center;
    background-color: #e3e3e3;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

/*Hover effect to make it more catchy*/
.amount-single:hover {
    box-shadow: 3px 5px 20px #7c7c7c;
}

.amount-single h3 {
    font-size: 30px;
    color: #707070;
    line-height: 1.8;
}

/*Style for by default selected amount*/
.default-amount {
    background-color: #c9c6ff;
    border: 3px solid #3b36a7;
    box-shadow: 3px 5px 20px #7c7c7c;
}

.default-amount h3 {
    color: #3b36a7;
}

/*Custom amount input style*/
.cutom-amount {
    text-align: center;
    margin: 15px 0px;
}

.cutom-amount input {
    width: 60%;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #3b36a7;
}

.cutom-amount input:focus {
    outline: none;
}

/*Donation Sector - where we spend money area styles*/
.sector-lists {
    display: flex;
    justify-content: center;
}

.sector-card {
    width: 320px;
    height: 300px;
    padding: 20px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    text-align: left;
    align-items: center;
}

.sector-card img {
    width: 110px;
    height: auto;
}

.sector-card p {
    color: #3c3c3c;
}

#food-card {
    background-color: #ffbdda;
}

#shelter-card {
    background-color: #d9b8ff;
}

#old-card {
    background-color: #d5e8ff;
}

/*About Us Section Styles*/
.about-us {
    background-image: url(images/about-us-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

/*About us first row(top) styles*/
.about-first-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*2 colomn of first row*/
.about-left,
.about-right {
    width: 40%;
}

.about-right {
    text-align: right;
}

.about-right>p {
    margin-left: 60px;
}

/*About Us Second row Styles*/
.about-second-row {
    padding-left: 25%;
}

.about-second-row img {
    border-radius: 10px;
}

/*Statics */
.statistics {
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 40px;
    background-color: #fff;
    margin-left: 10%;
    margin-top: -60px;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 20px #7c7c7c;
}

.statistics-single {
    margin: 0px 20px;
}

.statistics-single h3 {
    font-size: 40px;
    font-weight: 700;
    color: #423C96;
    line-height: 0;
}

.statistics-single p {
    font-size: 18px;
    font-weight: 700;
    color: #EF5050;
}

/*Newsletter Subscription Area Styles*/
.newsletter-box {
    text-align: center;
    margin: 15px 0px;
    background-image: url(images/subs-bg-cream.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 800px;
    display: block;
    margin: 0 auto;
    padding: 80px 0px;
    border-radius: 10px;
}

/*Newsletter input email styles*/
.newsletter-box input[type=email] {
    width: 40%;
    padding: 15px;
    font-size: 16px;
    border: none;
    background-color: #D9D9D9;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}

/*Remove focus outline*/
.newsletter-box input[type=email]:focus {
    outline: none;
}

/*Newslatter submit button styles*/
.newsletter-box input[type=submit] {
    position: absolute;
    background-image: linear-gradient(to right, #625bd4, #3d388d);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

/*Footer Section Style*/
.footer-area {
    text-align: center;
    padding: 40px 10px;
    color: #fff;
    background-color: #121212;
    background-image: url(images/footer-bg-trans.png);
    background-size: cover;
}

.footer-area img {
    width: 50px;
    height: auto;
}

.footer-area h2 {
    color: #EF5261;
}